<h2>Cities:</h2>
<ui>
    {{#each cityData}}
    <li>{{name}}, {{iata}}, {{city}}</li>
    {{/each}}
    
</ul>



<h2>Flights:</h2>
<ui>
    {{#each flightData}}
    <li id="" >{{arrivalPort}}, {{carrierCode}}, {{departureTime}}</li>
    {{/each}}
    
</ul>